$backgroud-gradient :hsl(214, 47%, 23%),
hsl(237, 49%, 15%);

$rock-gradient: to top,
hsl(349, 71%, 52%),
hsl(349, 70%, 56%);
$paper-gradient: to top,
hsl(230, 89%, 62%),
hsl(230, 89%, 65%);
$scissors-gradient : to top,
hsl(39, 89%, 49%),
hsl(40, 84%, 53%);
$lizard-gradient : to top,
hsl(261, 73%, 60%),
hsl(261, 72%, 63%);
$spock-gradient : to top,
hsl(189, 59%, 53%),
hsl(189, 58%, 57%);

$item-size-mode0: 25vw;
$item-size-mode1: 20vw;
$item-size-selected : 30vw;