@import 'fonts';
@import 'mixins';
@import 'variables';

.nojs {
	font-size    : 2rem;
	margin       : 10px;
	text-align   : center;
	background   : linear-gradient(rgb(238, 115, 0), rgb(236, 171, 73));
	border-radius: 1pc;

	&>:not(:first-child) {
		display: none !important;
	}
}

html {
	height    : 100%;
	box-sizing: border-box;

	font-family: "Barlow Semi Condensed", sans-serif;
}

body {
	height        : 100%;
	background    : linear-gradient($backgroud-gradient);
	display       : flex;
	margin        : 0;
	flex-direction: column;

	@media (min-width=600px) {
		background: radial-gradient($backgroud-gradient);
	}
}

header {
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	align-items    : center;

	margin       : 4vw;
	padding      : 4vw;
	border       : 3px solid hsl(217, 16%, 45%);
	border-radius: 1pc;

	img {
		width: 33%;
	}

	div {
		//scoreboard
		display       : flex;
		flex-direction: column;
		text-align    : center;
		padding       : 16px;
		min-width     : 100px;

		border-radius: 0.5pc;

		background: linear-gradient(#fff, #f0f0f0);

		#score {
			font-size: 2rem;
			margin   : 0;
		}

		p {
			margin: 0;
		}
	}

}

main {
	&>div:first-of-type {
		position: relative;
		height  : 100vw;
		width   : 100vw;

		background-size    : 60%;
		background-repeat  : no-repeat;
		background-position: center;
	}

	.item {
		position: absolute;
	}
}

footer {

	margin-top   : auto;
	margin-bottom: 16px;

	font-size : 11px;
	text-align: center;

	color: #fff;

	a {
		color: hsl(228, 45%, 44%);

	}
}

#rules{
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	align-items: center;


	background-color: #fff;
	position: fixed;
	top: -100%;

	&.open{
		top:0;
	}

	transition: ease-in-out 0.4s;

	svg{
		max-width: 90vw;
	}

	#closeRules{
		height: 50px;
		width: 50px;

		background-image: url("../images/icon-close.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;

		cursor: pointer;
	}
}

#control {
	display        : flex;
	justify-content: space-around;
	flex-direction : row;
	flex-wrap      : wrap;
	color          : #fff;
	user-select: none;

	&>div, &>label {
		width        : 100px;
		margin       : 0 16px;
		text-align   : center;
		border-radius: 1pc;
		border       : 3px solid #fff;

		cursor: pointer;

		&.caution {
			border-color: #d00;
		}
	}
}

.item {
	border-radius: 50%;
	padding      : 4vw;

	&:hover {
		cursor: pointer;
	}

	div {
		border-radius: 50%;

		background-color   : #fff;
		background-repeat  : no-repeat;
		background-position: center;
		background-size    : 50%;
	}

	&.rock {
		background: linear-gradient($rock-gradient);

		div {
			background-image: url("../images/icon-rock.svg");
		}
	}

	&.paper {
		background: linear-gradient($paper-gradient);

		div {
			background-image: url("../images/icon-paper.svg");
		}
	}

	&.scissors {
		background: linear-gradient($scissors-gradient);

		div {
			background-image: url("../images/icon-scissors.svg");
		}
	}

	&.lizard {
		background: linear-gradient($lizard-gradient);

		div {
			background-image: url("../images/icon-lizard.svg");
		}
	}

	&.spock {
		background: linear-gradient($spock-gradient);

		div {
			background-image: url("../images/icon-spock.svg");
		}
	}
}

.mode0 {
	.select {
		background-image: url("../images/bg-triangle.svg");

		.item {
			width : $item-size-mode0;
			height: $item-size-mode0;

			div {
				width : $item-size-mode0;
				height: $item-size-mode0;
			}
		}
	}

	.rock {
		@include absolute-center;
		top: 55%;
	}

	.paper {
		left: 10%
	}

	.scissors {
		right: 10%;
	}

	.paper,
	.scissors {
		top: 10%;
	}
}

.mode1 {
	.select {
		background-image: url("../images/bg-pentagon.svg");

		.item {
			width : $item-size-mode1;
			height: $item-size-mode1;

			div {
				width : $item-size-mode1;
				height: $item-size-mode1;
			}
		}
	}

	.rock {
		right: 15%;
	}

	.paper {
		right: 5%;
	}

	.scissors {
		@include absolute-center;
		top: 5%;
	}

	.lizard {
		left: 15%;
	}

	.spock {
		left: 5%;
	}

	.rock,
	.lizard {
		bottom: 5%;
	}

	.spock,
	.paper {
		top: 30%;
	}
}

.hidden{
	display: none;
	visibility: hidden;
	height: 0;
	width: 0;
	font-size: 0;
}